.bike-types {
  background-color: #f6f7f9;
}

.bike-types__container {
  padding-top: 154px;
  padding-bottom: 145px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.bike-types__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  width: 1126px;

  padding-left: 25px;
}

.bike-types h2 {
  margin-bottom: 48px;
  margin-left: -10px;

  font-size: 30px;
  line-height: 30px;

  letter-spacing: -0.005em;

  color: #1f1f1f;
}

.bike-types__list-item {
  position: relative;
  text-align: center;

  &--roadster {
    padding-top: 10px;
    z-index: 1;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 166px;
      left: -60px;

      width: 180px;
      height: 180px;

      border: 27px solid #0ad9c6;
      border-radius: 50%;
      box-sizing: border-box;

      z-index: -1;
    }
  }

  &--mountain {
    padding-top: 39px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 26px;
      left: -14px;

      width: 37px;
      height: 37px;

      background-color: #131314;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 581px;
      right: -23px;

      width: 47px;
      height: 47px;

      border: 8px solid #0ad9c6;
      box-sizing: border-box;
    }
  }

  &--kids {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -32px;
      right: -36px;

      width: 95px;
      height: 95px;

      border: 17px solid #0ad9c6;
      border-radius: 50%;
      box-sizing: border-box;
    }
  }
}

.bike-types__list-item img {
  border-radius: 10px;
  margin-bottom: 18px;
}

.bike-types__list-item h3 {
  font-size: 22px;
  line-height: 34px;
}

.bike-types__list-item p {
  font-size: 22px;
  line-height: 34px;
}

@media (max-width: $tablet-width) {
  .bike-types__container {
    padding-top: 52px;
    padding-bottom: 20px;
  }

  .bike-types h2 {
    margin-bottom: 28px;
    padding-left: 10px;
    font-size: 24px;
    line-height: 41px;
  }

  .bike-types__list {
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;

    padding-left: 50px;
  }

  .bike-types__list-item {
    margin-right: 50px;
    margin-bottom: 48px;

    &--roadster {
      padding-top: 0;

      &::before {
        top: 200px;
        left: -36px;

        width: 127px;
        height: 127px;

        border: 18px solid #0ad9c6;
      }
    }

    &--mountain {
      padding-top: 0;

      &::before,
      &::after {
        display: none;
      }
    }

    &--kids {
      &::before {
        top: -20px;
        right: -25px;

        width: 68px;
        height: 68px;
        border: 13px solid #0ad9c6;
      }
    }
  }

  .bike-types__list-item img {
    width: 270px;
    height: 300px;
  }
}

@media (max-width: $mobile-width) {
  .bike-types__container {
    padding-top: 53px;
    padding-bottom: 12px;
  }

  .bike-types__list-item {
    margin-bottom: 40px;

    &--roadster {
      &::before {
        top: 200px;
        left: -23px;
      }
    }

    &--kids {
      &::before {
        top: -20px;
        right: -15px;
      }
    }
  }
}
