.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input {
  box-sizing: border-box;
  height: 48px;

  margin-bottom: 20px;

  padding-left: 29px;

  line-height: 48px;

  background-color: #ffffff;
  border: 1px solid #c9ccd4;
  border-radius: 4px;
}

.contact-form input::placeholder {
  font-size: 15px;
  line-height: 48px;
  color: #1c1c1c;

  opacity: 0.7;
}

.contact-form button {
  height: 51px;

  font-weight: 600;
  font-size: 15px;
  line-height: 14px;
  letter-spacing: 0.5px;

  background-color: #0ad9c6;

  border: none;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

@media (max-width: $tablet-width) {
  .contact-form input {
    padding-left: 20px;
  }

  .contact-form input::placeholder {
    letter-spacing: 0.3px;
  }

  .contact-form button {
    letter-spacing: -0.05px;
    outline: none;
  }
}

@media (max-width: $mobile-width) {
  .contact-form input {
    padding-left: 25px;
  }
}
