.site-header {
  color: #ffffff;

  background-color: #000000;
}

.site-header__nav-toggle {
  display: none;
}

.site-header__container {
  position: relative;
  box-sizing: border-box;

  padding-right: 280px;
  padding-bottom: 137px;
  padding-left: 280px;

  background-image: url("../img/header-bg-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/header-bg-desktop@2x.jpg");
  }
}

.site-header__sections-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.site-header__logo-link {
  display: block;
  margin-bottom: 29px;
}

.site-header__description {
  width: 400px;
  margin-right: 153px;
  margin-bottom: 100px;
}

.site-header__description h1 {
  margin-bottom: 23px;

  font-weight: 600;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: 0.035em;
}

.site-header__description p {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;

  opacity: 0.8;
}

.site-header__contact {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  min-width: 320px;

  padding-top: 5px;
}

.site-header__contact p {
  align-self: center;

  width: 327px;

  margin-bottom: 18px;

  font-weight: 600;
  font-size: 17px;
  line-height: 28px;

  text-align: center;
}

@media (max-width: $tablet-width) {
  .site-header {
    background-color: #ffffff;
  }

  .site-header__container {
    padding-right: 0;
    padding-bottom: 35px;
    padding-left: 0;

    background-image: none;
  }

  .site-header__sections-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .site-header__description {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    margin-right: 0;
    margin-bottom: 67px;

    padding-bottom: 78px;

    text-align: center;

    background-image: url("../img/header-bg-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/header-bg-tablet@2x.jpg");
    }
  }

  .site-header__nav-toggle {
    display: block;
    position: absolute;
    right: 0;
    top: 0;

    width: 50px;
    height: 50px;

    background-image: url("../img/icon-menu-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;

    border: none;
    cursor: pointer;

    z-index: 2;

    &--closed {
      background-image: url("../img/icon-menu-open.svg");
      background-color: #0ad9c6;
    }
  }

  .site-header__description h1 {
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 42px;
  }

  .site-header__description p {
    width: 435px;
    font-size: 18px;
    line-height: 32px;
  }

  .site-header__logo-link {
    margin-bottom: 87px;

    padding-top: 25px;
    padding-left: 22px;

    align-self: flex-start;
  }

  .site-header__contact {
    width: 321px;
  }

  .site-header__contact p {
    margin-bottom: 28px;

    font-size: 18px;
    line-height: 28px;
    color: #000000;
  }
}

@media (max-width: $mobile-width) {
  .site-header__logo-link {
    padding-left: 17px;
    margin-bottom: 73px;
  }

  .site-header__description {
    padding-bottom: 68px;

    background-image: url("../img/header-bg-mobile@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/header-bg-mobile@2x.jpg");
    }
  }

  .site-header__description p {
    width: 288px;
  }

  .site-header__description h1 {
    width: 288px;
  }

  .site-header__contact {
    min-width: 0;
    width: 288px;
  }

  .site-header__contact p {
    width: 288px;
    margin-bottom: 18px;
  }
}
