.video {
  height: 706px;
  background-color: #131314;
}

.video__container {
  position: relative;
  top: 122px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.video h2 {
  margin-left: -10px;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 30px;
  line-height: 30px;

  color: #ffffff;
}

.video p {
  width: 340px;

  margin-bottom: 54px;
  padding-left: 20px;

  font-weight: 300;
  font-size: 16px;
  line-height: 28px;

  color: #ffffff;

  opacity: 0.7;
}

.video__player {
  position: relative;
}

.video__play-button {
  position: absolute;

  width: 65px;
  height: 65px;

  top: calc(50% - 32px);
  left: calc(50% - 32px);

  background-image: url("../img/icon-play-button.svg");
  background-color: transparent;
  border: none;

  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    width: 55px;
    height: 55px;

    top: calc(50% - 26px);
    left: calc(50% - 26px);

    background-size: 55px;
  }
}

@media (max-width: $tablet-width) {
  .video {
    height: 413px;
  }

  .video__container {
    top: 71px;
  }

  .video img {
    width: 503px;
    height: 282px;
  }

  .video h2 {
    padding-left: 10px;
    font-size: 24px;
  }

  .video p {
    width: 429px;

    margin-bottom: 39px;
    padding-left: 0;

    text-align: center;
  }

  .video__play-button {
    width: 90px;
    height: 90px;

    top: calc(50% - 45px);
    left: calc(50% - 45px);

    background-size: 90px;


    &:active {
      width: 80px;
      height: 80px;

      top: calc(50% - 40px);
      left: calc(50% - 40px);

      background-size: 80px;
    }
  }
}

@media (max-width: $mobile-width) {
  .video {
    height: 384px;
  }

  .video__container {
    top: 85px;
  }

  .video h2 {
    padding-left: 0;
  }

  .video p {
    width: 100%;

    margin-bottom: 53px;

    padding-left: 15px;
    padding-right: 15px;

    box-sizing: border-box;
  }

  .video img {
    width: 288px;
    height: 161px;
  }

  .video__play-button {
    width: 65px;
    height: 65px;

    top: calc(50% - 36px);
    left: calc(50% - 32px);

    background-size: 65px;

    &:active {
      width: 55px;
      height: 55px;

      top: calc(50% - 26px);
      left: calc(50% - 26px);

      background-size: 55px;
    }
  }
}
